<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>
<body>
<header th:insert="sections/header :: header"/>
<a href="/blog/add" class="btn btn-success">Add new post</a>
<div class="container">
  <div th:each="post:${posts}">
    <p th:text="${post.date}"></p>
    <h2 th:text="${post.title}"></h2>
    <p th:text="${post.shortDescription}"></p>
    <a th:href="@{/blog/{id}(id=${post.id})}">Read more</a>
  </div>
</div>
<!--footer-->
<footer th:insert="sections/footer :: footer" class="page-footer font-small blue pt-4"/>

</body>
</html>