<div layout:decorate="~{sections/layout}" layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml">
    <a th:href="@{/rooms/create}" class="btn btn-outline-success">Create new room</a>
    <!--generate rooms table-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Room name</th>
            <th>Room description</th>
            <th>Room owner</th>
            <th>Room status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td><a th:href="@{/rooms/{id}(id=${room.id})}" th:text="${room.name}"></a></td>
            <td th:text="${room.description}"></td>
            <td th:text="${room.owner.name}"></td>
            <td th:text="${room.rents.isEmpty()?'free':'rented'}"></td>
            <td class="d-flex">
                <a th:href="@{/rooms/{id}/edit(id=${room.id})}" class="btn btn-outline-warning">Edit</a>
                <form th:action="@{/rooms/{id}/delete(id=${room.id})}" method="post">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>